.ant-menu-item,
.ant-menu-item-active,
.ant-menu-item-selected{
    background-color: transparent !important;
}

.ant-layout-sider-trigger{
    background-color: #f8f8f8 !important;
    border-color: none;
    margin-bottom: 0.2% !important;
}

.ant-menu-item-icon:hover{
  color: #f8f8f8 !important;
}

.ant-layout-footer{
    align-content: flex-end;
    margin-bottom: 10rem !important;
    margin-top: 6.9rem !important;
    background: #F8F8F8 !important;
}

.header{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}


  .footer{
    width: 110rem;
    height: 2rem;
    margin: 78rem 10rem -15rem -12rem;
    z-index:  0;
    background-color: transparent !important;
  }

  @media only screen and (max-width: 768px) {
    .buyPolicy {
      margin: 0 auto !important;
      width: 100% !important;
      max-width: 300px !important;
    }
  }

  