.ant-menu-item,
.ant-menu-item-active,
.ant-menu-item-selected{
    background-color: transparent !important;
}

.ant-layout-sider-trigger{
    background-color: #f8f8f8 !important;
    border-color: none;
    margin-bottom: 0.2% !important;
}

.ant-menu-item-icon:hover{
  color: #f8f8f8 !important;
}

.ant-layout-footer{
    align-content: flex-end;
    margin-bottom: 10rem !important;
    margin-top: 6rem !important;
}

.header{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}


  .footer{
    width: 110rem;
    height: 2rem;
    margin: 75rem 10rem -20rem -12rem;
    z-index:  0;
    background-color: transparent !important;
  }

  