@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');


.container {
    display: flex;
    height: 87vh;
    width: 103.9%;
    background-color: #ffffff;
    margin: 0 0 0 -25px;
    flex-direction: column;
  }

  #Layout{
    float: none;
    margin-right: 0;
    transition: all 250ms ease-in-out;
  }
  
  .bgColor {
    background-color: transparent !important;
    font-size: 15px;
    align-items: center;
    position: absolute;
    font-weight: 500;
    top: -15px;
    font-family: Inter;
  }

  .card{
    margin-left: 0rem;
    margin-top: 10px;
    margin-bottom: -150px;
    height: 50rem;
    border: #555;
  }

  .avatar{
    margin-left: 50px;
    display: flex;
    padding: 0;
    float: none;
    margin-right: 0;
    transition: all 250ms ease-in-out;
  }

  .title{
    margin-top: -90px;
    margin-left: -20px;
    font-size: 1.5rem;
    font-family: "Inter";
    letter-spacing: "-0.01em";
    display: "flex";
    font-weight: 600;
  }

  .title span{
    display: flex;
    margin-left: 150px;
    margin-top: -68px;
  }

  .user{
    display: flex;
    margin-left: -150px;
    margin-top: -40px;
    flex-grow: 6;
  }

  @media screen and (max-width:768px) {
    .ant-table-wrapper{
      overflow-x: auto !important;
    }
    .card{
      padding: 16px;
    }
  }

